.aboutpage {
	min-height: 100vh;
	max-width: 130rem;
	margin: 0 auto;
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: 1fr 1fr;
	position: relative;

	@include mobile-max {
		grid-template-columns: 1fr;
	}

	.container__left {
		padding: 10rem 0 0 5rem;
		font-family: $mont-font;

		@include mobile-max {
			padding-bottom: 10rem;
		}

		.left__title {
			color: $mono-100;
			display: inline-block;
			@include title;
			border-bottom: 0.3rem solid $blue-550;
			&::selection {
				background: $blue-550;
				color: $mono-200;
			}

			@include mobile-max {
				@include title-mobile;
			}
		}

		.left__description {
			margin: 2rem 0 4rem 0;

			p {
				font-size: 1.6rem;
				letter-spacing: 0.15rem;
				padding-right: 10rem;
				margin-bottom: 0.6rem;
				color: $mono-300;
				&::selection {
					background: $blue-550;
					color: $mono-200;
				}

				@include mobile-max {
					font-size: 1.4rem;
					margin-bottom: 1rem;
				}
			}
		}

		.left__social-links {
			a {
				color: $mono-200;
				margin: 0;
				padding: 0;
				&:hover {
					color: $mono-300;
				}
			}

			svg {
				height: 7.2rem;
				width: 7.2rem;
				margin-right: 2rem;

				@include mobile-max {
					height: 5.5rem;
					width: 5.5rem;
				}
			}
		}
	}
	.container__right {
		height: 100vh;
		background: $mono-200;
		display: grid;
		grid-template-rows: 60% 40%;
		position: relative;
		border-left: 0.5rem solid $blue-550;

		@include mobile-max {
			max-height: 70rem;
		}
		.container__anim {
			position: relative;
			z-index: 100;
		}

		.portfolio__link {
			position: absolute;
			top: 34.5%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 300;

			@include mobile-max {
				top: 35%;
			}

			a {
				color: $blue-550;
				background: $mono-300;
				font-family: $inter-font;
				font-size: 1.6rem;
				padding: 1.5rem 2rem;
				border-radius: $br;
				&:hover {
					box-shadow: 0 0.3rem 0.6rem rgba($blue-550, 0.4);
				}
			}
		}
	}
}
