.portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__banner {
		width: 100%;
		height: 30rem;

		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 5rem;

		h1 {
			font-family: $sec-font;
			font-size: 10rem;
			color: $mono-800;
			letter-spacing: 0.7rem;
			animation: tracking-in-contract-bck 1s 1s
				cubic-bezier(0.215, 0.61, 0.355, 1) both;

			@include lg-max {
				font-size: 7.5rem;
			}
			@include md-max {
				font-size: 6.5rem;
			}
		}
	}

	&__container {
		//flex parent
		height: 100%;
		max-width: 130rem;
		margin-bottom: 15rem auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 5rem 1rem 0 1rem;

		@include lg-max {
			width: 100%;
		}
	}

	&__item {
		width: 80%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 15rem;
		overflow: hidden;

		@include lg-max {
			width: 100%;
			grid-template-columns: 1fr;
			margin-bottom: 10rem;
		}

		&:nth-child(odd) {
			//item (odd)

			@include md-max {
				grid-template-columns: 1fr;
			}
			.item__text {
				margin: auto 0 auto -5rem;
				grid-column: 2 / 3;
				grid-row: 1 / 2;

				@include md-max {
					margin: 0 auto -5rem auto;
					grid-column: 1 / 2;
					grid-row: 1 / 2;
				}
			}

			.item__image {
				grid-column: 1 / 2;
				grid-row: 1 / 2;

				@include md-max {
					grid-column: 1 / 2;
					grid-row: 2 / 3;
				}
			}
		}

		.item__text {
			background: $mono-900;
			margin: auto -10rem auto 0;
			position: relative;
			z-index: 10;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 4rem;
			box-shadow: $box-shadow;
			// animation: slide-in-tr 0.5s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
			@include md-max {
				width: 90%;
				margin: 0 auto -5rem auto;
				position: relative;
				z-index: 10;
			}

			.item__title {
				h2 {
					font-size: 3rem;
					margin-bottom: 2rem;
					font-family: $sec-font;
					text-align: center;
				}
			}

			.item__desc {
				p {
					font-family: $main-font;
					font-size: 1.6rem;
					font-weight: 200;
					text-align: center;
					line-height: 1.7;
				}
			}

			.item__stack__list {
				display: flex;
				align-items: center;
				margin: 2rem 0 4rem 0;

				@include lg-max {
					flex-direction: column;
				}

				&__title {
					@include lg-max {
						margin-bottom: 2rem;
					}
					p {
						margin-right: 2rem;
						font-size: 1.4rem;
						font-family: $main-font;
						font-weight: 200;
					}
				}

				&__items {
					display: flex;
					li {
						font-size: 1.2rem;
						margin-right: 1rem;
						padding: 0.5rem 1rem;
						font-family: $main-font;
						background: $mono-600;
						opacity: 0.5;
						font-weight: bold;
					}
				}
			}

			.item__cta {
				// flex: 1 1 auto;
				margin: 10px;
				padding: 20px;
				text-align: center;
				text-transform: uppercase;
				position: relative;
				overflow: hidden;
				transition: 0.4s ease-in-out;
				border: 0.2rem solid $mono-700;
				// background: black;

				&:hover {
					box-shadow: $box-shadow;
					a {
						// color: white;
					}
				}
				&:after {
					position: absolute;
					transition: 0.4s ease-in-out;

					content: '';
					width: 0;
					left: 50%;
					bottom: 0;
					height: 3px;
					background: $blue-550;

					height: 120%;
					left: -10%;
					transform: skewX(25deg);
					z-index: -1;
				}

				&:hover::after {
					left: -10%;
					width: 120%;
				}

				@include lg-max {
					padding: 2rem;
				}
				a {
					font-size: 1.6rem;
					font-family: $sec-font;
					color: $mono-200;
					padding: 2rem 4rem;
				}
			}
		}

		.item__image {
			transform-origin: center;
			transition: transform 0.5s ease-in-out;
			position: relative;

			&:hover {
				transform: scale(1.1);
			}

			@include md-max {
				&:hover {
					transform: unset;
				}
			}
		}
	}
}
