.portfolio {
	// height: 100vh;
	min-height: 100vh;
	max-width: 130rem;
	margin: 0 auto;
	padding: 10rem 2rem 5rem;
	background: $mono-900;

	.mySwiper {
		padding: 2rem 4rem;
		min-height: 85vh;
		width: 80%;
		// box-shadow: $box-shadow-dark;

		// buttons
		.swiper-button-next {
			color: $mono-200;
		}
		.swiper-button-prev {
			color: $mono-200;
		}

		.swiper-pagination {
			// background: red;
			bottom: 2rem;
		}

		.swiper-wrapper {
			.swiper-slide {
				.portfolio__card {
					@include flex-center-column;

					&__text {
						background: $mono-200;
						padding: 2rem 0;
						@include flex-center-column;

						color: $mono-900;
						font-family: $main-font;

						h2 {
							font-size: 2rem;
							margin-bottom: 1rem;
						}
						p {
							font-size: 1.4rem;
							margin-bottom: 2rem;
							color: $mono-700;
						}

						.card__tag {
							span {
								margin-right: 1rem;
								background: $mono-700;
								font-size: 1.2rem;
								color: $mono-200;
								padding: 0.5rem 1rem;
							}
						}
					}
				}
			}
		}
	}
}
