.navbar {
	height: 0;
	// background: beige;
	max-width: 130rem;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: flex-end;

	&__list {
		width: 40rem;
		height: 60rem;
		transform: translateY(-65rem);
		transition: transform 0.5s ease-in-out;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-left: 3rem;
		position: relative;
		z-index: 100;

		background: linear-gradient(180deg, #1efbfb, #9d2ef7, #462165);
		box-shadow: $box-shadow;

		li {
			margin-bottom: 1.5rem;
			transition: transform 0.3s ease;

			&:hover {
				transform: skewY(-5deg);
			}
			a {
				padding: 0.5rem 3rem;
				color: $mono-800;
				font-family: $sec-font;
				font-size: 2.5rem;
				text-shadow: $box-shadow;
				position: relative;
				text-transform: capitalize;

				&:hover {
					color: rgba($mono-800, 0.9);
				}

				&::before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					height: 0.3rem;
					background: linear-gradient($blue-550, $blue-400);
					transform: scaleX(0);
					transition: transform 0.3s ease-in;
					transform-origin: left;
					border-radius: 100%;
				}
				&:hover::before {
					transform: scaleX(1);
				}
			}
		}

		&.active {
			transform: translateY(0);
		}
	}

	.hamburger {
		position: absolute;
		z-index: 200;
		top: 2rem;
		right: 2rem;
		padding: 2rem;
		background: rgba($mono-200, 0.6);
		border-radius: 50%;
		cursor: pointer;
		box-shadow: $box-shadow;
		transition: background 0.2s ease-in;

		&.active {
			background: $mono-200;
		}
		svg {
			font-size: 3rem;
			color: $blue-550;
		}
	}
}
