.navbar {
	width: 100%;
	max-width: 130rem;
	font-family: $display-font;
	margin: 0 auto;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 200;

	.hamburger {
		position: absolute;
		top: 2rem;
		left: 2rem;
		z-index: 200;
		cursor: pointer;
		color: $mono-200;

		svg {
			height: 3rem;
			width: 3rem;
		}

		&.active {
			color: $mono-800;
		}
	}

	&__list {
		@include flex-center-row;
		list-style: none;
		height: 25rem;
		width: 100%;
		position: absolute;
		top: -50rem;
		left: 0;
		right: 0;
		z-index: 100;
		transition: 0.7s all ease;

		@include md-max {
			flex-direction: column;
		}

		li {
			margin-right: 5rem;
			@include md-max {
				font-size: 2.5rem;
				width: 100%;
				text-align: right;
				margin-bottom: 1rem;
				margin-right: 20rem;
			}

			a {
				padding: 0 1rem 0.5rem 1rem;
				color: $mono-800;
				font-size: 2.2rem;
				text-transform: uppercase;
				font-family: $display-font;
				letter-spacing: 0.2rem;

				&:hover {
					// color: $mono-800;
					border-bottom: 0.2rem solid $mono-800;
				}
			}
		}

		&.active {
			top: 0;
			background: $mono-200;
			color: $mono-900;
			box-shadow: $box-shadow;

			&.hamburger {
				color: $mono-800;
			}
		}
	}
}
