.navbar {
	height: 5rem;
	// background: $mono-200;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 200;
	@include mobile-max {
		height: 10rem;
	}

	&__list {
		height: 100%;
		width: 100%;
		max-width: 130rem;
		margin: 0 auto;
		padding: 0 0 0 5rem;
		list-style: none;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		@include mobile-max {
			padding-top: 4rem;
			flex-direction: column;
		}
	}

	&__link {
		margin-right: 4rem;
		font-size: 1.8rem;
		a {
			color: $mono-200;
			font-family: $serif-font;
			font-weight: bold;
		}
		@include mobile-max {
			// padding-top: 2rem;
			margin-bottom: 1rem;
		}
	}
}
