@keyframes bounce-in-right {
	0% {
		transform: translateX(600px);
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		transform: translateX(0);
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		transform: translateX(68px);
		animation-timing-function: ease-in;
	}
	72% {
		transform: translateX(0);
		animation-timing-function: ease-out;
	}
	81% {
		transform: translateX(32px);
		animation-timing-function: ease-in;
	}
	90% {
		transform: translateX(0);
		animation-timing-function: ease-out;
	}
	95% {
		transform: translateX(8px);
		animation-timing-function: ease-in;
	}
	100% {
		transform: translateX(0);
		animation-timing-function: ease-out;
	}
}

// .bounce-in-right{animation:bounce-in-right 1.1s both}

@keyframes flip-in-hor-top {
	0% {
		transform: rotateX(-80deg);
		opacity: 0;
	}
	100% {
		transform: rotateX(0);
		opacity: 1;
	}
}
// .flip-in-hor-top {
// 	animation: flip-in-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
// }
