.aboutpage {
	min-height: 100vh;
	width: 100%;
	max-width: 130rem;
	margin: 0 auto;
	background: linear-gradient(-135deg, $mono-800, $mono-400);
	padding-top: 6rem;
	position: relative;
	z-index: 100;
	display: grid;

	&::after {
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: 50%;
		background: $blue-550;
		top: 0;
		left: 0;
		// clip-path: polygon(0 0, 100% 0, 100% 100%, 0 56%);
		z-index: -1;

		@include mobile-max {
			display: none;
		}
	}
	// blue background
	&::before {
		display: block;
		content: '02';
		position: absolute;
		bottom: 2%;
		left: 5rem;
		font-family: $mont-font;
		font-size: 15rem;
		color: rgba($mono-300, 0.2);
		border-bottom: 0.7rem solid rgba($mono-300, 0.2);
		@include mobile-max {
			display: none;
		}
	}
	//bottom number

	&__container {
		display: flex;
		flex-direction: column;
		// align-items: center;
		// width: 70%;
		// background: red;
		padding: 5rem;
		@include mobile-max {
			margin-top: 10rem;
			padding: 1rem;
			width: 100%;
			justify-content: center;
			align-items: center;
		}
	}

	&__title {
		h1 {
			display: inline-block;
			font-size: 4rem;
			font-family: $serif-font;
			border-bottom: 0.3rem solid $blue-550;
			margin-bottom: 2rem;
			color: $mono-200;
		}
	}
	&__description {
		padding-right: 12rem;
		margin-bottom: 2rem;
		position: relative;
		z-index: 100;
		width: 60%;

		@include mobile-max {
			padding-right: 0;
			padding: 1rem;
			width: 100%;
		}

		p {
			font-size: 1.4rem;
			letter-spacing: 0.15rem;
			margin-bottom: 1rem;
			color: $mono-300;
			font-family: $mont-font;
			@include mobile-max {
				// background: red;
				width: 100%;
				padding-right: 0;
			}
		}
	}

	&__social-links {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 5rem;
		max-width: 20rem;

		svg {
			height: 5rem;
			width: 5rem;
			color: $mono-300;
			margin-right: 2rem;
			cursor: pointer;

			&:hover {
				color: rgba($blue-550, 0.8);
				background: $mono-200;
				box-shadow: 0.1rem 0.3rem 0.5rem rgba(0, 0, 0, 0.116);
			}
		}
	}

	&__contact__container {
		justify-self: flex-end;
		margin-right: 10rem;
		margin-bottom: 10rem;
		height: 20rem;
		width: 30rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border-top: 4px solid $blue-550;
		border-left: 2px solid $blue-550;

		@include mobile-max {
			border: none;
			align-items: center;
			margin-bottom: 0;
		}

		font-family: $mont-font;
		h6 {
			font-size: 2rem;
			color: $mono-200;
			margin-bottom: 2rem;
			padding: 3rem 0 0 3rem;
			@include mobile-max {
				border: none;
				text-align: center;
				margin: 0 0 2rem 0;
				padding: 0;
			}
		}
		a {
			font-size: 1.8rem;
			margin-left: 3rem;
			color: $blue-550;
			padding: 1rem 3rem;
			background: $mono-300;
			border-radius: 0.5rem;

			&:hover {
				font-weight: bold;
				box-shadow: 0 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.363);
				background: rgba($mono-300, 0.7);
			}
		}
	}
}
