.homepage {
	min-height: 100vh;
	max-width: 130rem;
	margin: 0 auto;
	background: $mono-900;
	position: relative;

	&__wrapper {
		min-height: 100vh;
		position: relative;
		&::before {
			display: block;
			content: '01';
			position: absolute;
			bottom: 2%;
			left: 2%;
			font-family: $mont-font;
			font-size: 15rem;
			color: rgba($mono-300, 0.2);
			border-bottom: 0.7rem solid rgba($mono-300, 0.2);
		}
	}

	&__banner {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 10rem;
		font-family: $mont-font;
	}

	&__title {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;

		h1 {
			font-size: 7rem;
			// font-weight: 900;
			letter-spacing: 1rem;
		}
		h3 {
			font-size: 3rem;
			font-weight: 600;
			letter-spacing: 3rem;
			margin-bottom: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			z-index: 30;

			&::before {
				display: inline-block;
				content: '';
				position: absolute;
				left: -25%;
				top: 2rem;
				width: 150%;
				height: 200%;
				padding: 0 2rem;
				background: $blue-550;
				z-index: -1;
				padding: 2rem;
				box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.267);
				border-radius: 0.5rem;
			}
		}
		span {
			font-size: 2.95rem;
			font-family: $thin-font;
			font-weight: 100;
			letter-spacing: 0.36rem;
			position: relative;
			z-index: 50;
		}
	}

	&__categories {
		height: 40rem;
		width: 100%;
		// background: $mono-400;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		.about,
		.portfolio {
			a {
				font-size: 4rem;
				color: $mono-200;
				font-family: $mont-font;
				padding: 1rem 2rem;
				border-bottom: 1.5rem solid rgba(2, 214, 214, 0.082);

				&:hover {
					border-bottom: 1.5rem solid rgb(2, 214, 214);
				}
			}
		}
	}
}
