.skills-section {
	// background: red;
	max-width: 130rem;
	margin: 0 auto 10rem auto;
	height: 60rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	h4 {
		margin-bottom: 4rem;
		font-size: 4rem;
		font-family: $inter-font;
		border-bottom: 0.2rem solid $blue-550;
		&::selection {
			background: $blue-550;
			color: $mono-200;
		}

		@include mobile-max {
			font-size: 3rem;
		}
	}

	.grid-container {
		background: $mono-200;
		padding: 3rem 10rem;
		margin: 0 auto 7rem auto;
		display: grid;
		grid-gap: 0.4rem;
		grid-template-columns: repeat(3, 1fr);
		box-shadow: 0.3rem 0.3rem 1rem rgba($mono-400, 0.5),
			-0.3rem -0.3rem 1rem rgba($mono-400, 0.5);

		.grid-item {
			position: relative;

			&:hover {
				// transform: scale(1.04);
				background: rgba(0, 0, 0, 0.103);
			}

			&::before {
				content: attr(data-tooltip);
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				height: 100%;
				font-family: $display-font;
				font-size: 1.8rem;
				color: $mono-900;
				padding: 0.5rem;
				background: rgba($mono-200, 0.8);
				text-align: center;
				transform: translate(-50%, -50%) scale(0);
			}

			&:hover::before {
				transform: scale(1);
				z-index: 200;
				box-shadow: 0.5rem 0.5rem 1rem rgba($blue-550, 0.5),
					-0.5rem -0.5rem 1rem rgba($blue-550, 0.5);
			}
		}
	}
}
